@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"), local("Montserrat-Regular"),
      url("~assets/fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
      url("~assets/fonts/montserrat-v15-latin-regular.woff") format("woff");
  }

  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat"), local("Montserrat-Bold"),
      url("~assets/fonts/montserrat-v15-latin-700.woff2") format("woff2"),
      url("~assets/fonts/montserrat-v15-latin-700.woff") format("woff");
  }

  @font-face {
    font-family: "Lobster";
    font-style: normal;
    font-weight: 400;
    src: local("Lobster"), local("Lobster-Regular"),
      url("~assets/fonts/lobster-v23-latin-regular.woff2") format("woff2"),
      url("~assets/fonts/lobster-v23-latin-regular.woff") format("woff");
  }

  html {
    @apply font-sans;
  }
}
